@{
    ViewData["Title"] = "Start Up Issue";
}
<script type="text/javascript">
    function GetTimeZoneOffset() {

        var dot = ".";
       
    }

</script>
<h1>Start Up Issue</h1>
<p> you can set the app settings key "StartupIssue" = true in order to reproduce a startup issue</p>
<p> You can enable ASPNETCORE_DETAILEDERRORS=true in app service configuration/app settings to enable detailed error in the page </p> </>
<h1></h1>
<p>you can set the app settings key "StartupIssue" = coldStart60  or "StartupIssue" = coldStart240</p>
<p>  in order to reproduce a cold start issue (it will take 2min to fail with 500.37) </p> 
<p>HTTP Error 500.37 - ASP.NET Core app failed to start within startup time limit</p>
<h1></h1>



