<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <settings>
      <servicePointManager
          checkCertificateName="false"
          checkCertificateRevocationList="false"
          encryptionPolicy="NoEncryption" />
    </settings>
  </system.net>
  <appSettings file="CacheSecrets.config"></appSettings>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\BuggyAppService.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
      <applicationInitialization doAppInitAfterRestart="true" skipManagedModules="true" remapManagedRequestsTo="filename.htm">
        <add initializationPage="/" hostName="BuggyAppService" />
      </applicationInitialization>
      <rewrite>
        <rules>
          <rule name="503" enabled="false" patternSyntax="Wildcard" stopProcessing="true">
            <match url="*" />
            <action type="CustomResponse" statusCode="503" statusReason="503" statusDescription="Server is Under Maintenance" />
          </rule>
          <rule name="CheckUserAgent" stopProcessing="true" enabled="false">
            <match url=".*" />
            <conditions>
              <add input="{HTTP_USER_AGENT}" pattern="healthcheck" />
            </conditions>
            <action type="CustomResponse" statusCode="200" statusReason="ok" statusDescription="ok" />
          </rule>
        </rules>
      </rewrite>
        <tracing>
            <traceFailedRequests>
              <remove path="*" />
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite,ANCM,RequestRouting" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="200-600" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: f791060f-f960-449f-8ea8-a4308c46e32b-->