@{
    ViewData["Title"] = "Upcoming Features";
}

<div class="text-center">
    <h2 class="display-4">Upcoming Features</h2>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@




    <p> SQL Managed Identity </p>
    <p> Key Vault</p>
    <p> Blob Storage</p>
    <p> Client Side errors</p>
    <p> Client Side Slowness</p>
    <p> And more</p>
</div>
