@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

    <p> 

       Buggy Application to troubleshoot typical performance and error scenarios in.net core.(App Service and IIS)
    </p>
    <p>IIS Logs Schema </p>
    <img src="~/images/IISLogsSchema.png" class="img-fluid">
</div>
