@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

    <p> 

       Buggy Application to troubleshoot typical performance and error scenarios in.net core.(App Service and IIS)
    </p>
     @*    <p>App Service Logs Schema</p>
    <img src="~/images/AppServiceLogsSchema.png" class="img-fluid"> *@

    <p>IIS Logs Schema </p>
    <img src="~/images/IISLogsSchema.png" class="img-fluid">

@*     <table class="table">
        <thead>
            <tr>
                <th scope="col">Status code</th>
                <th scope="col">Behavior</th>
                <th scope="col">What to check</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">503</th>
                <td>Application Restarting</td>
                <td>App pool is not up during restart</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Application pool stopped</td>
                <td>Crash</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>ASP NET QUEUE FULL</td>
                <td>FREB logs </td>
                <td>Possible reasons: hang,deadlock</td>
            </tr>
        </tbody>
    </table> *@
</div>
