@{
    ViewData["Title"] = "Crash";
}
<script type="text/javascript">
    function GetTimeZoneOffset() {

        var dot = ".";
       
    }

</script>
<h1>Crash</h1>
<p> Troubleshootiing guide for Crash </p>
<img src="~/images/CrashMonitoring.png" class="img-fluid">

<p> Steps to troubleshoot with windbg </p>

<p> How to check detector crash on app service </p>
<h1></h1>



