@{
    ViewData["Title"] = "500error";
}
<script type="text/javascript">
    function GetTimeZoneOffset() {

        var dot = ".";
       
    }

</script>
<h1>500error</h1>
<p> Troubleshootiing guide for 500 error </p>
<h1></h1>
<p> Detailed errors </p>
<p> Stdout logs</p>
<p> Freb </p>
<p> Http Server Error detector  </p>
<p> App Insights  </p>
<p> application event log detector </p>





