@{
    ViewData["Title"] = "SNAT";
}
<script type="text/javascript">
    function GetTimeZoneOffset() {

        var dot = ".";
       
    }

</script>
<h1>SNAT Port Exhaustion to do </h1>
@*<p> Troubleshootiing guide forHigh CPU </p>
<img src="~/images/CrashMonitoring.png" class="img-fluid">

<p> Steps to troubleshoot with windbg </p>
<p>how to collect dump</p>
<p> How to check detector High CPU on app service </p>
<h1></h1>*@



