@{
    ViewData["Title"] = "SNAT";
}
<script type="text/javascript">
    function GetTimeZoneOffset() {

        var dot = ".";

    }

</script>
<h1>SNAT Port Exhaustion </h1>

<h3> Check detector from Diagnose and Solve problems : Snat Port Exhaustion </h3>
<img src="~/images/SNAT1.png" class="img-fluid">
<p> </p>
<img src="~/images/SNAT2.png" class="img-fluid">

<h3> Check TCP connections to find the dependency  </h3>
<img src="~/images/SNAT3.png" class="img-fluid">
<p> </p>
<p> Each instance on Azure App service is initially given a preallocated number of 128 SNAT ports. </p>
<a href="https://learn.microsoft.com/en-us/azure/app-service/troubleshoot-intermittent-outbound-connection-errors#cause" class="link-info">Troubleshooting intermittent outbound connection errors in Azure App Service</a>
<p>Another reason can be that dependency is slow  even if the connections are properly closed (check slow request execution and app insights)  </p>
<img src="~/images/SNAT5.png" class="img-fluid">
<p> </p>
<h3> Full action plan can be found on the detector Snat port exhaustion "view solution"</h3>
<img src="~/images/SNAT4.png" class="img-fluid">


