
@{
    ViewData["Title"] = "Crash";
}

<h1>Crash</h1>

<p>You can click the Crash button to reproduce a stack overflow </p>
<a href="@Url.Action("Index2","StackOverflow")" class="btn btn-primary btn-lg">Crash - stack overflow </a>


<p>You can check the troubleshooting steps to find out the root cause for crash</p>

<a href="@Url.Action("Crash","Troubleshooting")" class="btn btn-primary btn-lg">How to troubleshoot Crash </a>

