@{
    ViewData["Title"] = "Slow Page";
}
<script type="text/javascript">
    function GetTimeZoneOffset() {

        var dot = ".";
       
    }

</script>
<h1>Slow Page</h1>
<p>you can pass the time taken in ms for the request in the url slowpage?time=25000</p>
<h1>Time Taken:</h1>
<h1>@ViewData["TimeTaken"]</h1>


